@media (max-width: 900px) {
    #column-1-server-nav {
        z-index: 1;
    }

    /* Remove Sections & Elements */
    main nav {
        display: none;
    }

    #pop-up-section .eject-btn {
        display: none;
    }

    .message-box {
        display: none;
    }

    .click-link {
        display: none;
    }

    /* Style Change */
    #column-2-sidebar {
        width: auto;
        z-index: 1;
    }

    #column-2-sidebar .find-eject-container {
        width: auto;
    }

    /* Main */
    main {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 200;
    }

    /* Mobile Overlay */
    #mobile-overlay {
        display: flex;
    }
}