@media (max-width: 1400px) {
    .popup-01 {
        top: 44vh;
        right: 50vw;
    }

    .popup-02 {
        top: 26vh;
        right: 3vw;
    }

    .popup-03 {
        top: 25vh;
        right: 25vw;
    }

    .popup-04 {
        top: 45vh;
        right: 4vw;
    }

    .popup-05 {
        top: 45vh;
        right: 4vw;
    }

    .popup-06 {
        top: 33vh;
        right: 25vw;
    }

    .popup-07 {
        top: 20vh;
        right: 20vw;
    }

    .popup-08 {
        top: 67vh;
        right: 10vw;
    }

    .popup-09 {
        top: 28vh;
        right: 14vw;
    }

    .popup-10 {
        top: 52vh;
        right: 35vw;
    }

    .popup-11 {
        top: 29vh;
        right: 44vw;
    }

/* Pop Up Repeats */
.popup-01-02 {
    top: 18vh;
    right: 10vw;
    z-index: 10;
}

.popup-02-02 {
    top: 60vh;
    right: 30vw;
    z-index: 11;
}

.popup-03-02 {
    top: 53vh;
    right: 48vw;
    z-index: 12;
}

.popup-04-02 {
    top: 24vh;
    right: 4vw;
    z-index: 13;
}

.popup-05-02 {
    top: 13vh;
    right: 37vw;
    z-index: 14;
}

.popup-06-02 {
    top: 57vh;
    right: 10vw;
    z-index: 15;
}

.popup-07-02 {
    top: 57vh;
    right: 10vw;
    z-index: 15;
}

.popup-08-02 {
    top: 15vh;
    right: 15vw;
    z-index: 16;
}
}

@media (max-width: 1100px) {
    .popup-01 {
        top: 44vh;
        right: 47vw;
    }

    .popup-02 {
        top: 26vh;
        right: 5vw;
    }

    .popup-03 {
        top: 25vh;
        right: 22vw;
    }

    .popup-04 {
        top: 45vh;
        right: 5vw;
    }

    .popup-05 {
        top: 45vh;
        right: 4vw;
    }

    .popup-06 {
        top: 33vh;
        right: 22vw;
    }

    .popup-07 {
        top: 20vh;
        right: 17vw;
    }

    .popup-08 {
        top: 67vh;
        right: 7vw;
    }

    .popup-09 {
        top: 28vh;
        right: 11vw;
    }

    .popup-10 {
        top: 52vh;
        right: 30vw;
    }

    .popup-11 {
        top: 29vh;
        right: 40vw;
    }

/* Pop Up Repeats */
.popup-01-02 {
    top: 18vh;
    right: 7vw;
    z-index: 10;
}

.popup-02-02 {
    top: 60vh;
    right: 27vw;
    z-index: 11;
}

.popup-03-02 {
    top: 53vh;
    right: 42vw;
    z-index: 12;
}

.popup-04-02 {
    top: 24vh;
    right: 6vw;
    z-index: 13;
}

.popup-05-02 {
    top: 13vh;
    right: 32vw;
    z-index: 14;
}

.popup-06-02 {
    top: 57vh;
    right: 7vw;
    z-index: 15;
}

.popup-07-02 {
    top: 57vh;
    right: 7vw;
    z-index: 15;
}

.popup-08-02 {
    top: 15vh;
    right: 12vw;
    z-index: 16;
}
}


@media (max-width: 900px) {
    /* Remove Sections & Elements */
    main nav {
        display: none;
    }

    #pop-up-section .eject-btn {
        display: none;
    }

    .message-box {
        display: none;
    }

    .click-link {
        display: none;
    }

    /* Style Change */
    #column-2-sidebar {
        width: auto;
    }

    #column-2-sidebar .find-eject-container {
        width: auto;
    }

    /* Main */
    main {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 200;
    }

    /* Mobile Overlay */
    #mobile-overlay {
        display: flex;
    }
}